<div class="row">
  <div class="col-md-3"><app-menu (toggleClick)="childToggle($event)" [@slideInOut]='menuState'></app-menu></div>
  <div class="col-md-7 mainWindow">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 top">
        <h2>Book Store</h2>
        <button class="btn btn-default" (click)="toggleMenu()">
          <i class="fa fa-bars fa-4x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-4"></div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2">
  </div>
</div>


